body {
  font: 18px/1.3em "ColaborateThinRegular", sans-serif;
}

#map {
  display: block;
  height: 78vh;
}

h1 {
  font: 32px/1em "GibsonBold", serif;
}

h2 {
  font: 22px/1em "GibsonBold", serif;
}

h1,
h2 {
  text-transform: uppercase;
  color: #827e7e;
}

#logo {
  max-height: 60px;
  width: auto;
}

main > .row {
  padding: 0 12px;
}

.area-info {
  font-family: sans-serif;
  border: 1px solid black;
  color: #222;
  background-color: #fff;
}

#name {
  font-size: 20px;
}

.mapboxgl-popup-content {
  min-width: 400px;
  font-size: 14px;
}

hr {
  margin: 0.5rem 0;
}

.legend-single {
  color: rgb(244, 206, 153);
}

.legend-condo {
  color: rgb(235, 161, 71);
}

.legend-two {
  color: rgb(132, 158, 200);
}

.legend-five {
  color: rgb(49, 75, 119);
}

.legend-fifty {
  color: rgb(29, 41, 62);
}

/* Media queries */
@media screen and (max-width: 767px) {
  #map {
    height: 70vh;
  }
}

@media screen and (min-width: 576px) {
  .area-info.left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: -1px;
  }

  .area-info.right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

/* Fonts */
@font-face {
  font-family: "GibsonSemiBold";
  src: url("/css/fonts/gibson-semibold-webfont.eot");
  src: url("/css/fonts/gibson-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/css/fonts/gibson-semibold-webfont.woff") format("woff"),
    url("/css/fonts/gibson-semibold-webfont.ttf") format("truetype"),
    url("/css/fonts/gibson-semibold-webfont.svg#GibsonSemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GibsonBold";
  src: url("/css/fonts/gibson-bold-webfont.eot");
  src: url("/css/fonts/gibson-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/css/fonts/gibson-bold-webfont.woff") format("woff"),
    url("/css/fonts/gibson-bold-webfont.ttf") format("truetype"),
    url("/css/fonts/gibson-bold-webfont.svg#GibsonBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColaborateThinRegular";
  src: url("/css/fonts/ColabThi-webfont.eot");
  src: url("/css/fonts/ColabThi-webfont.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/ColabThi-webfont.woff") format("woff"),
    url("/css/fonts/ColabThi-webfont.ttf") format("truetype"),
    url("/css/fonts/ColabThi-webfont.svg#ColaborateThinRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Choices.js style overrides */
.choices {
  margin: 1rem 0 !important;
}

.choices__list {
  z-index: 3 !important;
}

.choices__inner {
  font-size: 18px;
}

.is-highlighted {
  background-color: #007bff !important;
  color: white;
}
