body {
  font: 18px/1.3em "ColaborateThinRegular", sans-serif;
}

#map {
  display: block;
  height: 85vh;
}

h1 {
  font: 32px/1em "GibsonBold", serif;
}

h2 {
  font: 22px/1em "GibsonBold", serif;
}

h1,
h2 {
  text-transform: uppercase;
  color: #827e7e;
}

#logo {
  max-height: 60px;
  width: auto;
}

#area-info {
  position: absolute !important;
  font-family: sans-serif;
  margin-top: 70vh;
  margin-left: 10px;
  padding: 5px;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  border: 1px solid black;
  color: #222;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.mapboxgl-popup-content {
  min-width: 400px;
  font-size: 14px;
}

hr {
  margin: 0.5rem 0;
}

.legend-single {
  color: rgb(244, 206, 153);
}

.legend-condo {
  color: rgb(235, 161, 71);
}

.legend-two {
  color: rgb(132, 158, 200);
}

.legend-five {
  color: rgb(49, 75, 119);
}

.legend-fifty {
  color: rgb(29, 41, 62);
}

/* Media queries */
@media screen and (max-width: 767px) {
  #map {
    height: 80vh;
  }
  #area-info {
    margin-top: 65vh;
  }
}

/* Fonts */
@font-face {
  font-family: "GibsonSemiBold";
  src: url("/css/fonts/gibson-semibold-webfont.eot");
  src: url("/css/fonts/gibson-semibold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/css/fonts/gibson-semibold-webfont.woff") format("woff"),
    url("/css/fonts/gibson-semibold-webfont.ttf") format("truetype"),
    url("/css/fonts/gibson-semibold-webfont.svg#GibsonSemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GibsonBold";
  src: url("/css/fonts/gibson-bold-webfont.eot");
  src: url("/css/fonts/gibson-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/css/fonts/gibson-bold-webfont.woff") format("woff"),
    url("/css/fonts/gibson-bold-webfont.ttf") format("truetype"),
    url("/css/fonts/gibson-bold-webfont.svg#GibsonBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ColaborateThinRegular";
  src: url("/css/fonts/ColabThi-webfont.eot");
  src: url("/css/fonts/ColabThi-webfont.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/ColabThi-webfont.woff") format("woff"),
    url("/css/fonts/ColabThi-webfont.ttf") format("truetype"),
    url("/css/fonts/ColabThi-webfont.svg#ColaborateThinRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
